{% extends layout %}

{% block title %}Home{% endblock %}

{% block meta_description %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="media">
            <div class="media-left">
                <img src="/assets/images/reg_table.jpg" alt="Madison PHP Registration Table" class="media-object img-responsive img-thumbnail">
            </div>
            <div class="media-body">
                <h2 class="media-heading"><span class="nobr">In-depth<br>Tutorials &</span> <span class="nobr">Three Talk<br>Tracks</span></h2>
            </div>
        </div>
        <p>Join us on Friday, November 2nd, 2018 for a full day of tutorials followed by three tracks of talks on Saturday, November 3rd, 2018. Madison PHP Conference in Madison, Wisconsin focuses on PHP and related web technologies. This event is organized by <a href="http://www.madisonphp.com">Madison PHP</a> and is designed to offer something to attendees at all skill levels. It will be two days of networking, learning, sharing, and great fun!</p>
        <img src="/assets/images/attendees-collage.png" alt="collage of photos of attendees talking to each other and listening to talks" class="img-responsive">
    </div>
    <div class="col-md-6">
        <p><a href="/tickets" class="btn btn-default btn-red btn-highlight">Buy Your Tickets Today!</a></p>
        <img src="/assets/images/home_sidebar.png" alt="Madison PHP Attendees" class="img-responsive">
    </div>
</div>
{% endblock %}
