{% extends layout %}

{% block title %}Schedule{% endblock %}

{% block meta_description %}
{{ conference_year }} Madison PHP Conference Schedule
{% endblock %}

{% block content %}

<div class="container">


    <div class="row">

        <div class="col-md-6 heading-text">

            {% if rooms_set == 'yes' or schedule_set == 'yes' %}

            <div class="separator separator-title">
                <h2 class="separator-mainheader color">Speakers</h2>
                <span class="separator-subheader">We&#039;ve assembled a heroic lineup of speakers. You can read all about them on our <a href="/speakers">Speakers page</a>.</span>
            </div><p></p>

            <p><strong>Don't forget to leave feedback for them on Joind.in:</strong><br><strong><a href="https://joind.in/event/madison-php-conference-2018">https://joind.in/event/madison-php-conference-2018</a></strong></p>

        </div><div class="col-md-6 heading-text">
        <!--
            <p><a href="/conference_map"><img src="/assets/images/room_map_thumb.png" alt="Conference map"><br>View a map of the conference.</a></p>
        -->

            {% else %}

            <p>The schedule has not been set yet. Please check back for updates!</p>

            {% endif %}

        </div>

    </div>

    {% if rooms_set == 'yes' or schedule_set == 'yes' %}

    <h2 class="separator-mainheader color">Schedule</h2>

    {% endif %}

    {% if rooms_set == 'yes' %}

    <p>Note:
    <!--
    the colors on the schedule match the colors on the <a href="/conference_map">conference map</a>.
    -->
    Schedule is subject to change without notice.</p>

    <table class="schedule" border="1" cellspacing="0" cellpadding="5">
        <tr><td colspan="4"><h3>Friday, November 2nd, 2018 - Tutorial Day</h3></td></tr>
        <tr><td></td><td class="room1"><h4>Room 1</h4></td><td class="room2"><h4>Room 2</h4></td><td class="room3"><h4>Room 3</h4></td></tr>
        <tr><td nowrap>8:30 am - 9:00 am</td><td colspan="3" class="room6">Check-in</td></tr>
        <tr><td nowrap>9:00 am - 10:30 am</td>
            <td class="room1"><a href="/talks/T01">{{ sessions.T01.talks.1.title }} (Part 1)</a><br>
                {% for speaker in sessions.T01.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room2"><a href="/talks/T19">{{ sessions.T19.talks.1.title }} (Part 1)</a><br>
                {% for speaker in sessions.T19.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room3"><a href="/talks/T02">{{ sessions.T02.talks.1.title }} (Part 1)</a><br>
                {% for speaker in sessions.T02.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr><td nowrap>10:30 am - 11:00 am</td><td colspan="3" class="room6">Morning Break</td></tr>
        <tr><td nowrap>11:00 am - 12:30 pm</td>
            <td class="room1"><a href="/talks/T01">{{ sessions.T01.talks.1.title }} (Part 2)</a><br>
                {% for speaker in sessions.T01.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room2"><a href="/talks/T19">{{ sessions.T19.talks.1.title }} (Part 2)</a><br>
                {% for speaker in sessions.T19.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room3"><a href="/talks/T02">{{ sessions.T02.talks.1.title }} (Part 2)</a><br>
                {% for speaker in sessions.T02.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr><td nowrap>12:30 pm - 1:30 pm</td><td colspan="3" class="room6"><strong>Lunch</strong> - provided</td></tr>
        <tr><td nowrap>1:30 pm - 3:00 pm</td>
            <td class="room1"><a href="/talks/T16">{{ sessions.T16.talks.1.title }} (Part 1)</a><br>
                {% for speaker in sessions.T16.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room2"><a href="/talks/T22">{{ sessions.T22.talks.1.title }} (Part 1)</a><br>
                {% for speaker in sessions.T22.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room3"><a href="/talks/T09">{{ sessions.T09.talks.1.title }} (Part 1)</a><br>
                {% for speaker in sessions.T09.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr><td nowrap>3:00 pm - 3:30 pm</td><td colspan="3" class="room6">Afternoon Break</td></tr>
        <tr><td nowrap>3:30 pm - 5:00 pm</td>
            <td class="room1"><a href="/talks/T16">{{ sessions.T16.talks.1.title }} (Part 2)</a><br>
                {% for speaker in sessions.T16.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room2"><a href="/talks/T22">{{ sessions.T22.talks.1.title }} (Part 2)</a><br>
                {% for speaker in sessions.T22.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room3"><a href="/talks/T09">{{ sessions.T09.talks.1.title }} (Part 2)</a><br>
                {% for speaker in sessions.T09.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr><td nowrap>6:00 pm - 10:00 pm</td><td colspan="3" class="room2"><strong>Hackathon</strong></td></tr>
    </table>


    <table class="schedule" border="1" cellspacing="0" cellpadding="5">
        <tr><td colspan="4"><h3>Saturday, November 3rd, 2018 - Conference Day</h3></td></tr>
        <tr><td></td><td class="room1"><h4>Room 1</h4></td><td class="room2"><h4>Room 2</h4></td><td class="room3"><h4>Room 3</h4></td></tr>
        <tr><td nowrap>8:30 am - 9:00 am</td><td colspan="3" class="room6">Check-in</td></tr>
        <tr><td nowrap>9:00 am - 10:00 am</td>
            <td class="room3" colspan="3"><strong>Keynote: </strong><a href="/talks/T18">{{ sessions.T18.talks.1.title }}</a><br>
                {% for speaker in sessions.T18.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr><td nowrap>10:10 am - 11:00 am</td>
            <td class="room1"><a href="/talks/T12">{{ sessions.T12.talks.1.title }}</a><br>
                {% for speaker in sessions.T12.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room2"><a href="/talks/T11">{{ sessions.T11.talks.1.title }}</a><br>
                {% for speaker in sessions.T11.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room3"><a href="/talks/T04">{{ sessions.T04.talks.1.title }}</a><br>
                {% for speaker in sessions.T04.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr><td nowrap>11:20 am - 12:10 pm</td>
            <td class="room1"><a href="/talks/T10">{{ sessions.T10.talks.1.title }}</a><br>
                {% for speaker in sessions.T10.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room2"><a href="/talks/T15">{{ sessions.T15.talks.1.title }}</a><br>
                {% for speaker in sessions.T15.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room3"><a href="/talks/T07">{{ sessions.T07.talks.1.title }}</a><br>
                {% for speaker in sessions.T07.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr><td nowrap>12:10 pm - 1:20 pm</td><td colspan="3" class="room6"><strong>Lunch</strong> -- provided</td></tr>
        <tr><td nowrap>1:20 pm - 1:40 pm</td>
            <td class="room1" rowspan="3">
                TBA
            </td>
            <td class="room2"><a href="/talks/T05">{{ sessions.T05.talks.1.title }}</a><br>
                {% for speaker in sessions.T05.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room3"><a href="/talks/T14">{{ sessions.T14.talks.1.title }}</a><br>
                {% for speaker in sessions.T14.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr><td nowrap>1:50 pm - 2:10 pm</td>
            <td class="room2"><a href="/talks/T03">{{ sessions.T03.talks.1.title }}</a><br>
                {% for speaker in sessions.T03.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room3"><a href="/talks/T17">{{ sessions.T17.talks.1.title }}</a><br>
                {% for speaker in sessions.T17.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr><td nowrap>2:20 pm - 2:40 pm</td>
            <td class="room2"><a href="/talks/T11">{{ sessions.T11.talks.2.title }}</a><br>
                {% for speaker in sessions.T11.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room3"><a href="/talks/T04">{{ sessions.T04.talks.2.title }}</a><br>
                {% for speaker in sessions.T04.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr><td nowrap>2:50 pm - 3:40 pm</td>
            <td class="room1"><a href="/talks/T08">{{ sessions.T08.talks.1.title }}</a><br>
                {% for speaker in sessions.T08.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room2"><a href="/talks/T20">{{ sessions.T20.talks.1.title }}</a><br>
                {% for speaker in sessions.T20.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room3" rowspan="2"><a href="/talks/T07">{{ sessions.T07.talks.2.title }}</a><br>
                {% for speaker in sessions.T07.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr><td nowrap>4:00 pm - 4:50 pm</td>
            <td class="room1"><a href="/talks/T06">{{ sessions.T06.talks.1.title }}</a><br>
                {% for speaker in sessions.T06.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
            <td class="room2"><a href="/talks/T21">{{ sessions.T21.talks.1.title }}</a><br>
                {% for speaker in sessions.T21.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr><td nowrap>5:00 pm - 5:30 pm</td>
            <td colspan="3" class="room3"><a href="/talks/T13">{{ sessions.T13.talks.1.title }}</a><br>
                {% for speaker in sessions.T13.speaker %}
                {{ speaker.name }}<br>
                {% endfor %}
            </td>
        </tr>
        <tr><td nowrap>5:30 pm - 6:30 pm</td>
            <td colspan="3" class="room3"><strong>Keynote: </strong>TBA<br>
            </td>
        </tr>
        <tr><td nowrap>6:30 pm - 6:45 pm</td><td colspan="3" class="room3"><strong>Closing Remarks</strong></td></tr>
        <tr><td nowrap>6:45 pm - 7:30 pm</td><td colspan="3" class="room2"><strong>Reception</strong></td></tr>
    </table>

{% endif %}

</div>

{% endblock %}
