{% extends layout %}

{% block title %}Speakers{% endblock %}

{% block meta_description %}
{{ conference_year }} Madison PHP Conference Speakers
{% endblock %}

{% block content %}
<h2>Speakers</h2>

{% if schedule_set == 'yes' %}
    <p><a href="/schedule">View the Full Schedule</a></p>
{% endif %}

<hr>
{% for key, talkSlot in sessions %}

    {% if talkSlot.display_speaker == "yes" %}
        {% for speaker in talkSlot.speaker %}
            {% if speaker.name %}
                <div>
                    <img src="/assets/images/speakers/{{ speaker.img }}" class="img-responsive img-thumbnail" style="float: left; margin-right: 10px;" alt="{{ speaker.name }}">
                    <h3>{{ speaker.name }}
                        {% if speaker.twitter %}
                        (<a href="http://www.twitter.com/{{ speaker.twitter }}">@{{ speaker.twitter }}</a>)
                        {% endif %}</h3>
                    <p>{{ speaker.bio|raw }}</p>

                </div>
            {% endif %}
        {% endfor %}

        {% for talk in talkSlot.talks %}
            <h4><a href="/talks/{{ key }}">{{ talk.talk_type }}: {{ talk.title }}</a></h4>
        {% endfor %}

        <div style="clear:both; height: 15px; border-bottom: 1px solid #000000;"></div>


    {% endif %}
{% endfor %}
<hr>






{% endblock %}
