{% extends layout %}

{% block title %}Speakers{% endblock %}

{% block meta_description %}
{{ conference_year }} Madison PHP Conference Speakers
{% endblock %}

{% block content %}
<h2>Speakers</h2>

{% if schedule_set == 'yes' %}
    <p><a href="/schedule">View the Full Schedule</a></p>
{% endif %}

<hr>
{% for key, talkSlot in talks %}

    {% if talkSlot.display_speaker == "yes" %}
        {% if talkSlot.talk_type == "keynote" %}
        <h2>Keynote Speaker</h2>
        {% elseif talkSlot.talk_type == "tutorial" %}
        <h2>Tutorial Speaker</h2>
        {% else %}
        <h2>Speaker</h2>
        {% endif %}
        {% for speaker in talkSlot.speaker %}
            {% if speaker.name %}
                <div>
                    <img src="/assets/images/speakers/{{ speaker.img }}" class="img-responsive img-thumbnail" style="float: left; margin-right: 10px;" alt="{{ speaker.name }}">
                    <h3>{{ speaker.name }}
                        {% if speaker.twitter %}
                        (<a href="http://www.twitter.com/{{ speaker.twitter }}">@{{ speaker.twitter }}</a>)
                        {% endif %} (<a href="/talks/{{key}}">View Talk</a>)</h3>
                    {{ speaker.bio|raw }}</p>

                </div>
                <div style="clear:both; height: 15px; border-bottom: 1px solid #000000;"></div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
<hr>






{% endblock %}
