{% extends layout %}

{% block title %}Tickets{% endblock %}

{% block meta_description %}
{{ conference_year }} Madison PHP Conference Tickets
{% endblock %}

{% block content %}
<h2>Tickets</h2>

<p>Please note that there are two types of tickets this year:<ul>
    <li><h4>Conference Only Tickets</h4>
    These tickets are for the conference day on Saturday, September 23rd, 2018.</li>
    <li><h4>Conference plus Tutorial Tickets</h4>
    These tickets are for the tutorial on Friday, September 22nd, 2018 and for the conference day on Saturday, Septmeber 23rd, 2018.</li>
</ul></p>


<div class="row">

    <div style="width:100%; text-align:left;"><iframe src="//eventbrite.com/tickets-external?eid=31329759153&ref=etckt" frameborder="0" height="733" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/">Powered by Eventbrite</a></div></div>

</div>

{% endblock %}
