{% extends layout %}

{% block title %}Venue{% endblock %}

{% block meta_description %}
{{ conference_year }} Madison PHP Conference Venue
{% endblock %}

{% block content %}
<h2>Venue & Conference Hotel</h2>

<div class="row">
    <div class="col-md-6">
        <p><img src="/assets/images/radisson-front450.png" alt="Radisson Hotel Madison"></p>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2915.3537497745597!2d-89.498096584422!3d43.05502699892118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8807ae5f155a8dd1%3A0xe2fb51629989068a!2sRadisson+Hotel+Madison!5e0!3m2!1sen!2sus!4v1460146836285" width="100%" height="301" frameborder="0" style="border:0" allowfullscreen></iframe>


    </div>
</div>

<h3>Radisson Hotel Madison</h3>
<h4>517 Grand Canyon Dr., Madison, WI</h4>

<p>This year, the conference is inside the conference hotel, so you are able to book a room within the same building as the conference. From business conferences and training sessions to wedding receptions and holiday parties, the Radisson Madison has meeting facilities with prime amenities that help you host a memorable event. We are also a comfortable hotel where you can take advantage of the business center and fitness center, both open 24 hours, to maintain your routine. Before you turn in for the night, relax in the game room or take a refreshing swim in the heated indoor pool.
</p>

<p><a href="https://www.radisson.com/madison-hotel-wi-53719/madison">Visit the hotel's website</a></p>

<h3>Booking a Room in the Madison PHP Room Block</h3>

<p>You can book online using the link below or if you prefer to book over the phone, please call (+1) 608-833-0100. Be sure to tell them you are booking a room in the "Madison PHP Room Block" in order to get the conference rate on your room.</p>

<p><a href="http://www.radisson.com/reservation/itineraryEntrance.do?hotelCode=MADISON&promotionalCode=MadPHP&startDate=20180920&numberNights=3"><h4>&#8594; Book Now</h4></a></p>

<h3>Free Airport Shuttle</h3>

<p>The Radisson offers hotel guests a free shuttle to and from the Madison Airport between the hours of 7:00am and 11:00pm. To arrange a pickup, please call the front desk of the hotel at: +1 (608) 833-0100</p>

<p>&nbsp;</p>

<h4>Additional Hotel Options</h4>
<ul>
    <li><strong>AmericInn Lodge & Suites Madison West</strong><br>
        516 Grand Canyon Dr, Madison, WI 53719<br>
        <a href="http://www.americinn.com/hotels/wi/madisonwest">http://www.americinn.com/hotels/wi/madisonwest</a><br>
        The AmericInn is located across the street from the conference venue, an approximately 0.06 mile walk.</li>
    <li><strong>Best Western West Towne Suites</strong><br>
        650 Grand Canyon Drive, Madison, WI 53719-1044<br>
        <a href="http://book.bestwestern.com/bestwestern/US/WI/Madison-hotels/BEST-WESTERN-West-Towne-Suites/Hotel-Overview.do?propertyCode=50102">http://book.bestwestern.com/bestwestern/US/WI/Madison-hotels/BEST-WESTERN-West-Towne-Suites/Hotel-Overview.do?propertyCode=50102</a><br>
        The Best Western is located down the street from the conference venue, an approximately 0.2 mile walk.</li>
</ul>

{% endblock %}
