{% extends layout %}

{% block title %}Venue{% endblock %}

{% block meta_description %}
{{ conference_year }} Madison PHP Conference Venue
{% endblock %}

{% block content %}
<h2>Venue & Conference Hotel</h2>

<div class="row">
    <div class="col-md-6">
        <p><img src="/assets/images/marriott.jpg" alt="Marriott Madison West"></p>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93280.84220790681!2d-89.4896169743135!3d43.06191401179558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8807af30433bc7c1%3A0x9a1bb4696617b4f9!2sMadison+Marriott+West!5e0!3m2!1sen!2sus!4v1526572356707" width="100%" height="301" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<h3>Marriott Madison West</h3>
<h4>1313 John Q Hammons Dr., Middleton, WI 53562</h4>

<p>The conference is inside the conference hotel, so you are able to book a room within the same building as the conference. Minutes from downtown, the University of Wisconsin and Epic Systems, the Madison Marriott West in Middleton offers a dynamic blend of convenience, outstanding service and welcome amenities that make your visit a delight. A luxurious, light-filled atrium hints at all that awaits: newly renovated, well-appointed guest rooms designed to meet the needs of business travelers, with free high-speed Wireless Internet access. Enjoy our Falling Water Cafe, with an eclectic American menu and stunning bar. Even a newly renovated fitness center, indoor pool and innovative Fit for You in-room exercise packages to keep you in shape.</p>

<p><a href="https://www.marriott.com/hotels/travel/msnwe-madison-marriott-west/">Visit the hotel's website</a></p>

<h3>Booking a Room in the Madison PHP Room Block</h3>

<!--
<p>The Madison PHP Conference Room block is not yet open. Please make sure to sign up for mailing list to be notified when it opens. You can do this using the box right below the header on this page.</p>
-->

<p>The Madison PHP Conference room block is now open. You can book a room at a discounted rate in our room block now <strong>through October 10th, 2018</strong>. You can book online using the link below or if you prefer to book over the phone, please call (+1) 608-831-2000. Be sure to tell them you are booking a room in the "Madison PHP Conference 2018 Room Block" in order to get the conference rate on your room.</p>

<p><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Madison%20PHP%20Conference%202018%20%5Emsnwe%60phpphpk%60156.00%60USD%60false%605%6011/1/18%6011/4/18%6010/11/18&app=resvlink&stop_mobi=yes"><h4>&#8594; Book Now</h4></a></p>

<h3>Free Airport Shuttle</h3>

<p>The Marriott offers hotel guests a free shuttle to and from the Madison Airport:<br>
Marriott Airport shuttle service, on request, complimentary<br>
Mon-Fri: 06:30 AM - 10:00 PM<br>
Shuttle Phone: +1 608 831-2000</p>

<p>&nbsp;</p>

<h4>Additional Hotel Options</h4>
<ul>
    <li><strong>Comfort Suites</strong><br>
        1253 John Q. Hammons Dr., Madison, WI, 53717<br>
        <a href="https://www.choicehotels.com/wisconsin/madison/comfort-suites-hotels/wi045">https://www.choicehotels.com/wisconsin/madison/comfort-suites-hotels/wi045</a><br>
        The Comfort Suites is located just down the street (on the same side of the street) from the conference venue, an approximately 0.1 mile walk.</li>
    <li><strong>Fairfield Inn & Suites</strong><br>
        8212 Greenway Blvd, Middleton, WI 53562<br>
        <a href="https://www.marriott.com/hotels/travel/msnmw-fairfield-inn-and-suites-madison-west-middleton/">https://www.marriott.com/hotels/travel/msnmw-fairfield-inn-and-suites-madison-west-middleton/</a><br>
        The Fairfield is located down the street and across one major roadway from the conference venue, an approximately 0.3 mile walk.</li>
</ul>

{% endblock %}
